<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Designo | App-Design</title>

</head>
<body>

    {{> header }}

      <div class="background__container-SINGLE">

        <div class="padding__container-MOBILE-NONE">
          <div class="web-design-hero">
            <div class="web-design-hero__content">
              <h1 class="web-design-hero__headline">App Design</h1>
              <p class="web-design-hero__text">Our mobile designs bring intuitive digital solutions to your customers right at their fingertips</p>
            </div>
          </div>
        </div>

        <div class="padding__container-ALWAYS">
          <div class="infoCards infoCards-APP-DESIGN">

            <div class="infoCards__card SLIDE-IN">
              <div class="infoCards__card-image">
                <img class="infoCards__card-image-IMG" src="./assets/app-design/desktop/image-airfilter.jpg" alt="Airfilter mobile website">
              </div>
              <a href="#">
                <div class="infoCards__card-description">
                  <h3 class="infoCards__card-description-HEADLINE">Airfilter</h3>
                  <p class="infoCards__card-description-DESCRIPTION">Solving the problem of poor indoor air quality by filtering the air</p>
                </div>
              </a>
            </div>
            <div class="infoCards__card SLIDE-IN">
              <div class="infoCards__card-image">
                <img class="infoCards__card-image-IMG" src="./assets/app-design/desktop/image-eyecam.jpg" alt="Eyecam mobile website">
              </div>
              <a href="#">
                <div class="infoCards__card-description">
                  <h3 class="infoCards__card-description-HEADLINE">Eyecam</h3>
                  <p class="infoCards__card-description-DESCRIPTION">Product that lets you edit your favorite photos and videos at any time</p>
                </div>
              </a>  
            </div>
            <div class="infoCards__card SLIDE-IN">
              <div class="infoCards__card-image">
                <img class="infoCards__card-image-IMG" src="./assets/app-design/desktop/image-faceit.jpg" alt="Faceit mobile website">
              </div>
              <a href="#">
                <div class="infoCards__card-description">
                  <h3 class="infoCards__card-description-HEADLINE">Faceit</h3>
                  <p class="infoCards__card-description-DESCRIPTION">Get to meet your favorite internet superstar with the faceit app</p>
                </div>
              </a>  
            </div>
            <div class="infoCards__card SLIDE-IN">
              <div class="infoCards__card-image">
                <img class="infoCards__card-image-IMG" src="./assets/app-design/desktop/image-todo.jpg" alt="Todo mobile website">
              </div>
              <a href="#">
                <div class="infoCards__card-description">
                  <h3 class="infoCards__card-description-HEADLINE">Todo</h3>
                  <p class="infoCards__card-description-DESCRIPTION">A todo app that features cloud sync with light and dark mode</p>
                </div>
              </a>  
            </div>
            <div class="infoCards__card SLIDE-IN">
              <div class="infoCards__card-image">
                <img class="infoCards__card-image-IMG" src="./assets/app-design/desktop/image-loopstudios.jpg" alt="Loop Studios mobile website">
              </div>
              <a href="#">
                <div class="infoCards__card-description">
                  <h3 class="infoCards__card-description-HEADLINE">LoopStudios</h3>
                  <p class="infoCards__card-description-DESCRIPTION">A VR experience app made for Loopstudios</p>
                </div>
              </a>  
            </div>

          </div>
        </div>

        <div class="padding__container-ALWAYS">
          <div class="non-index-cardLinks">

            <div class="cardLinks__card cardLinks__card-WEB-DESIGN-NON-INDEX">
              <div class="cardLinks__card-top">
                <h3 class="cardLinks__card-top-HEADLINE">Web Design</h3>
              </div>
              <div class="cardLinks__card-bottom">
                <a href="/web-design" class="cardLinks__card-bottom-LINK" id="WEB-DESIGN">View Projects<img src="assets/shared/desktop/icon-right-arrow.svg" class="cardLinks__card-bottom-LINK-IMAGE" alt=""></a>
              </div>
            </div>
          
            <div class="cardLinks__card cardLinks__card-GRAPHIC-DESIGN-NON-INDEX">
              <div class="cardLinks__card-top">
                <h3 class="cardLinks__card-top-HEADLINE">Graphic Design</h3>
              </div>
              <div class="cardLinks__card-bottom">
                <a href="/graphic-design" class="cardLinks__card-bottom-LINK" id="GRAPHIC-DESIGN">View Projects<img src="assets/shared/desktop/icon-right-arrow.svg" class="cardLinks__card-bottom-LINK-IMAGE" alt=""></a>
              </div>
            </div> 

          </div>
        </div>
      </div>


    {{> footer }}

  <script src="/js/script.js"></script>
</body>
</html>