<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Designo | Graphic-Design</title>

</head>
<body>

    {{> header }}

      <div class="background__container-SINGLE">

        <div class="padding__container-MOBILE-NONE">
          <div class="web-design-hero">
            <div class="web-design-hero__content">
              <h1 class="web-design-hero__headline">Graphic Design</h1>
              <p class="web-design-hero__text">We deliver eye-catching branding materials that are tailored to meet your business objectives.</p>
            </div>
          </div>
        </div>

        <div class="padding__container-ALWAYS">

          <div class="infoCards infoCards-GRAPHIC-DESIGN">

            <div class="infoCards__card SLIDE-IN">
              <div class="infoCards__card-image">
                <img class="infoCards__card-image-IMG" src="./assets/graphic-design/desktop/image-change.jpg" alt="Change by design book">
              </div>
              <a href="#">
                <div class="infoCards__card-description">
                  <h3 class="infoCards__card-description-HEADLINE">Tim Brown</h3>
                  <p class="infoCards__card-description-DESCRIPTION">A book cover designed for Tim Brown’s new release, ‘Change’</p>
                </div>
              </a>
            </div>
            <div class="infoCards__card SLIDE-IN">
              <div class="infoCards__card-image">
                <img class="infoCards__card-image-IMG" src="./assets/graphic-design/desktop/image-boxed-water.jpg" alt="Boxed water packaging">
              </div>
              <a href="#">
                <div class="infoCards__card-description">
                  <h3 class="infoCards__card-description-HEADLINE">Boxed Water</h3>
                  <p class="infoCards__card-description-DESCRIPTION">A simple packaging concept made for Boxed Water</p>
                </div>
              </a>  
            </div>
            <div class="infoCards__card SLIDE-IN">
              <div class="infoCards__card-image">
                <img class="infoCards__card-image-IMG" src="./assets/graphic-design/desktop/image-science.jpg" alt="Science artwork">
              </div>
              <a href="#">
                <div class="infoCards__card-description">
                  <h3 class="infoCards__card-description-HEADLINE">Science</h3>
                  <p class="infoCards__card-description-DESCRIPTION">A poster made in collaboration with the Federal Art Project</p>
                </div>
              </a>  
            </div>

          </div>
        </div>

        <div class="padding__container-ALWAYS">
          <div class="non-index-cardLinks">

            <div class="cardLinks__card cardLinks__card-APP-DESIGN-NON-INDEX">
              <div class="cardLinks__card-top">
                <h3 class="cardLinks__card-top-HEADLINE">App Design</h3>
              </div>
              <div class="cardLinks__card-bottom">
                <a href="/app-design" class="cardLinks__card-bottom-LINK" id="APP-DESIGN">View Projects<img src="assets/shared/desktop/icon-right-arrow.svg" class="cardLinks__card-bottom-LINK-IMAGE" alt=""></a>
              </div>
            </div>
          
            <div class="cardLinks__card cardLinks__card-WEB-DESIGN-NON-INDEX">
              <div class="cardLinks__card-top">
                <h3 class="cardLinks__card-top-HEADLINE">Web Design</h3>
              </div>
              <div class="cardLinks__card-bottom">
                <a href="/web-design" class="cardLinks__card-bottom-LINK" id="WEB-DESIGN">View Projects<img src="assets/shared/desktop/icon-right-arrow.svg" class="cardLinks__card-bottom-LINK-IMAGE" alt=""></a>
              </div>
            </div> 

          </div>
        </div>
      </div>


    {{> footer }}

  <script src="/js/script.js"></script>
</body>
</html>