<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Frontend Mentor | Designo Agency Website Challenge</title>

</head>
<body>

    {{> header }}

    <div class="body">
      <div class="background__container-DOUBLE">

        <div class="padding__container-MOBILE-NONE">
          <div class="index-hero">
            <div class="index-hero__left">
              <div class="index-hero__left-headline">
                <h1 class="index-hero__left-headline-H1">Award-winning custom designs and digital branding solutions</h1>
              </div>
              <div class="index-hero__left-text">
                <p class="index-hero__left-text-PARAGRAPH">With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.</p>
              </div>
              <div class="index-hero__left-button">
                <a href="/about" class="index-hero__left-button-LINK ABOUT">Learn More</a>
              </div>
            </div>
            <div class="index-hero__right">
              <div class="index-hero__right-image">
                <img src="assets/home/desktop/image-hero-phone.png" alt="iPhone with custom design on screen">
              </div>
            </div>
          </div>
        </div>
        <div class="padding__container-ALWAYS">
          <div class="cardLinks">

            <div class="cardLinks__card cardLinks__card-WEB-DESIGN">
              <div class="cardLinks__card-top">
                <h3 class="cardLinks__card-top-HEADLINE">Web Design</h3>
              </div>
              <div class="cardLinks__card-bottom">
                <a href="/web-design" class="cardLinks__card-bottom-LINK" id="WEB-DESIGN">View Projects<img src="assets/shared/desktop/icon-right-arrow.svg" class="cardLinks__card-bottom-LINK-IMAGE" alt=""></a>
              </div>
            </div>

            <div class="cardLinks__card cardLinks__card-APP-DESIGN">
              <div class="cardLinks__card-top">
                <h3 class="cardLinks__card-top-HEADLINE">App Design</h3>
              </div>
              <div class="cardLinks__card-bottom">
                <a href="/app-design" class="cardLinks__card-bottom-LINK" id="APP-DESIGN">View Projects<img src="assets/shared/desktop/icon-right-arrow.svg" class="cardLinks__card-bottom-LINK-IMAGE" alt=""></a>
              </div>
            </div>
          
            <div class="cardLinks__card cardLinks__card-GRAPHIC-DESIGN">
              <div class="cardLinks__card-top">
                <h3 class="cardLinks__card-top-HEADLINE">Graphic Design</h3>
              </div>
              <div class="cardLinks__card-bottom">
                <a href="/graphic-design" class="cardLinks__card-bottom-LINK" id="GRAPHIC-DESIGN">View Projects<img src="assets/shared/desktop/icon-right-arrow.svg" class="cardLinks__card-bottom-LINK-IMAGE" alt=""></a>
              </div>
            </div>     

          </div>          
        </div>

        <div class="padding__container-ALWAYS">
          <div class="superlatives">
            <div class="superlatives__card SLIDE-IN">
              <div class="superlatives__card-left superlatives__card-left-bg-toRight">
                <img src="/assets/home/desktop/illustration-passionate.svg" alt="">
              </div>
              <div class="superlatives__card-right">
                <h2 class="superlatives__card-right-HEADLINE">Passionate</h2>
                <p class="superlatives__card-right-DESCRIPTION">Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.</p>
              </div>
            </div>

            <div class="superlatives__card SLIDE-IN">
              <div class="superlatives__card-left superlatives__card-left-bg-toTop">
                <img src="/assets/home/desktop/illustration-resourceful.svg" alt="">
              </div>
              <div class="superlatives__card-right">
                <h2 class="superlatives__card-right-HEADLINE">Resourceful</h2>
                <p class="superlatives__card-right-DESCRIPTION">Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.</p>
              </div>
            </div>

            <div class="superlatives__card SLIDE-IN">
              <div class="superlatives__card-left">
                <img src="/assets/home/desktop/illustration-friendly.svg" alt="">
              </div>
              <div class="superlatives__card-right">
                <h2 class="superlatives__card-right-HEADLINE">Friendly</h2>
                <p class="superlatives__card-right-DESCRIPTION">We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  {{> footer }}

  <script src="/js/script.js"></script>
</body>
</html>