<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Frontend Mentor | Designo Agency Website Challenge</title>

</head>
<body>

    {{> header }}

      <div class="padding__container-MOBILE-NONE">

        <div class="locations">

          <div class="locations__row" id='Canada'>
            <div class="locations__row-detail">
              <div class="locations__row-detail-container">

                <div class="locations__row-detail-top">
                  <h3 class="locations__row-detail-top-h3">Canada</h3>
                </div>
                <div class="locations__row-detail-btm">
                  <div class="locations__row-detail-btm-address">
                    <span class="locations__row-detail-btm-address-HEADLINE">Designo Central Office</span><br>
                    <span class="locations__row-detail-btm-address-INFO">3886 Wellington Street<br>Toronto, Ontario M9C 3J5</span>
                  </div>
                  <div class="locations__row-detail-btm-address">
                    <span class="locations__row-detail-btm-address-HEADLINE">Contact</span><br>
                    <span class="locations__row-detail-btm-address-INFO">P : +1 253-863-8967<br>M : contact@designo.co</span>
                  </div>
                </div>

              </div>  
            </div>
            <div class="locations__row-image">
              <img src="./assets/locations/desktop/image-map-canada.png" alt="Map overview of Canada office">
            </div>
          </div>

          <div class="locations__row" id="Australia">
            <div class="locations__row-detail">
              <div class="locations__row-detail-container">

                <div class="locations__row-detail-top">
                  <h3 class="locations__row-detail-top-h3">Australia</h3>
                </div>
                <div class="locations__row-detail-btm">
                  <div class="locations__row-detail-btm-address">
                    <span class="locations__row-detail-btm-address-HEADLINE">Designo AU Office</span><br>
                    <span class="locations__row-detail-btm-address-INFO">19 Balonne Street<br>New South Wales 2443</span>
                  </div>
                  <div class="locations__row-detail-btm-address">
                    <span class="locations__row-detail-btm-address-HEADLINE">Contact</span><br>
                    <span class="locations__row-detail-btm-address-INFO">P : (02) 6720 9092<br>M : contact@designo.au</span>
                  </div>
                </div>

              </div>  
            </div>
            <div class="locations__row-image">
              <img src="./assets/locations/desktop/image-map-australia.png" alt="Map overview of Australian office">
            </div>
          </div>

          <div class="locations__row" id="United-Kingdom">
            <div class="locations__row-detail">
              <div class="locations__row-detail-container">
                <div class="locations__row-detail-top">
                  <h3 class="locations__row-detail-top-h3">United Kingdom</h3>
                </div>
                <div class="locations__row-detail-btm">
                  <div class="locations__row-detail-btm-address">
                    <span class="locations__row-detail-btm-address-HEADLINE">Designo UK Office</span><br>
                    <span class="locations__row-detail-btm-address-INFO">13  Colorado Way<br>Rhyd-y-fro SA8 9GA</span>
                  </div>
                  <div class="locations__row-detail-btm-address">
                    <span class="locations__row-detail-btm-address-HEADLINE">Contact</span><br>
                    <span class="locations__row-detail-btm-address-INFO">P : 078 3115 1400<br>M : contact@designo.uk</span>
                  </div>
                </div>  
              </div>
            </div>
            <div class="locations__row-image">
              <img src="./assets/locations/desktop/image-map-united-kingdom.png" alt="Map overview of Canada office">
            </div>
          </div>

        </div>

      </div>

   

    {{> footer }}

  <script src="/js/script.js"></script>
</body>
</html>