
.header {
    width: 100vw; 
    height: 15.5rem; 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 4; 
    background-color: var(--primary-white);
    // transition: height .5s ease-in-out;

    position: relative; 

    @media screen and (max-width: 650px) {
        height: 9.6rem; 
        position: sticky; 
        
        top: 0; 
        left: 0; 
        right: 0; 
    }

    &__content {
        width: 113.1rem;
        height: 2.4rem; 
        padding: 2rem; 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        z-index: 2;

        @media screen and (max-width: 650px) {
            
        }

        &-left {

            width: 19.6rem; 
            height: 2.4rem; 
            margin-right: auto;

            @media screen and (max-width: 650px) {
                height: 2.7rem; 
                width: 20.2rem; 
            }

            &-LOGO {
                height: 100%; 
                width: 100%;
            }

        }
        &-right {
            height: 1.4rem; 
            width: 37rem; 
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 650px) {
                height: 2rem; 
                width: 2.4rem; 
            }

            &-selection {
                font-size: 1.4rem;
                line-height: 1.4rem;
                letter-spacing: .2rem;
                font-weight: 400;
                text-decoration: none;
                text-transform: uppercase;
                color: var(--secondary-darkGray); 
                cursor: pointer;
                position: relative; 

                @media screen and (max-width: 650px) {
                    display: none; 
                }

                &:visited {
                    @extend .header__content-right-selection; 
                    color: var(--secondary-darkGray);
                }

                &::after {
                    content: ''; 
                    width: 0%;  
                    height: .1rem; 
                    background-color: var(--secondary-darkGray);
                    position: absolute; 
                    left: 50%;  
                    transform: translateX(-50%);
                    bottom: -.2rem; 
                    opacity: .7; 
                    transition: all .3s ease-in-out;
                }

                &:hover::after {
                    width: 100%; 
                }
            }
            &-mobile {
                display: none; 
                @media screen and (max-width: 650px) {
                    display: block; 
                }

                &-BURGER {
                    display: none; 
                    height: 2rem; 
                    width: 2.4rem;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    cursor: pointer;

                    @media screen and (max-width: 650px) {
                        display: flex; 
                    }

                }
                &-PATTY {
                    display: block; 
                    height: .4rem; 
                    width: 2.4rem; 
                    background-color: var(--primary-black); 

                    transition: all .5s ease-in-out;
                    transform-origin: center;
                }
            }    
        }


        &-mobile-NAV {
            
            display: none; 
            width: 100vw; 
            height: 23.5rem; 
            background-color: var(--primary-black); 
            padding: 4.8rem 2.4rem; 

            position: fixed;
            top: 9.6rem;
            left: 0;  

            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            
            transform: translateX(-200rem);
            opacity: 0; 
            
            transition: all .6s ease-in-out;

            z-index: 3;

            @media screen and (max-width: 650px) {
                display: flex;  
            }

            &-selection {
                font-size: 2.4rem;
                line-height: 2.5rem;
                letter-spacing: .2rem;
                font-weight: 400;
                text-decoration: none;
                text-transform: uppercase;
                color: var(--primary-white); 
                cursor: pointer;

                &:visited {
                    @extend .header__content-mobile-NAV-selection; 
                    color: var(--primary-white);
                }
            }

            &-GREYOUT {
                position: fixed; 
                top: 9.6rem; 
                left: 0; 
                right: 0; 
                bottom: 0; 
                background-color: var(--primary-black);
                opacity: .6; 
                transform: translateX(-200rem);
                z-index: 2;
            }
        }
    } 
}

//******** MOBILE MENU TRANSFORM *********//

.transformDOWN {
    transform: translateX(0);
}
.opacityONE {
    opacity: 1; 
}
.opacityZero{
    opacity: 0; 
}
.rotate45 {
    transform: rotate(45deg) translateY(1rem) translateX(.15rem);
}
.rotateNeg45 {
    transform: rotate(-45deg) translateY(-1rem) translateX(.15rem); 
}







