
.web-design-hero {
    @include non-index-hero; 

    &__content {
        width: 38.8rem; 
        height: 12.4rem; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: space-between; 
        text-align: center; 
        padding: 0 1.5rem; 
    }
    
    &__headline {
        @include hero-h1; 
    }
    &__text {
        @include hero-paragraph; 
    }
}

.infoCards {
    max-width: 111.1rem;
    height: 98.8rem; 

    display: grid; 
    grid-template-columns: 33.3fr 33.3fr 33.3fr;
    grid-template-rows: 50fr;
    column-gap: 3rem;
    row-gap: 3.2rem;

    margin: 16rem auto; 

    @media screen and (max-width:950px) {
        height: 203rem; 
        max-width: 68.9rem;
        grid-template-columns: 100fr; 
        grid-template-rows: auto; 
    }
    @media screen and (max-width: 650px) {
        height: 306.8rem; 
        max-width: 47.8rem; 
    }

    &-WEB-DESIGN {
        @media screen and (max-width:950px) {
           height: 203rem; 
        }
        @media screen and (max-width: 650px) {
            height: 306.8rem; 
        }
    }
    &-APP-DESIGN {
        @media screen and (max-width:950px) {
            height: 168.8rem; 
        }
        @media screen and (max-width: 650px) {
            height: 255rem; 
        }
    }
    &-GRAPHIC-DESIGN {

        height: 47.8rem; 

        @media screen and (max-width:950px) {
            height: 100.4rem; 
        }
        @media screen and (max-width: 650px) {
            height: 151.4rem; 
        }
    }

    &__card {
        width: 100%; 
        height: 47.8rem; 
        border-radius: 2rem;
        overflow: hidden;
        margin: 0 auto;

        display: flex; 
        flex-direction: column;

        @media screen and (max-width:950px) {
            flex-direction: row;
            width: 100%; 
            height: 31rem;  
        }
        @media screen and (max-width: 650px) {
            flex-direction: column;
            height: 47.8rem; 
            width: 32.7rem; 
        }

        &-image {
            width: 35rem; 
            height: 32rem; 
            display: flex; 
            align-items: center;
            justify-content: center;

            @media screen and (max-width:950px) {
                max-width:  33.9rem;
                height: 31rem; 
            }
            @media screen and (max-width: 650px) {
                max-width: 32.7rem; 
                height: 32rem; 
            }

            &-IMG {
                width: 100%; 
                height: 100%; 
                object-fit: cover;
                object-position: center;
            }

        }
        &-description {
            width: 100%; 
            height: 15.8rem; 
            background-color: var(--secondary-lightGray);
            padding: 3.2rem; 
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            transition: box-shadow .6s ease-in-out;
            
            @media screen and (max-width:950px) {
                max-width: 35rem; 
                height: 31rem; 
                padding: 10.9rem 4.1rem; 
            }
            @media screen and (max-width: 650px) {
                max-width: 32.7rem; 
                height: 15.8rem; 
                padding: 2.9rem 3.2rem; 
            }

            &:hover {
                box-shadow: inset 0 0 100rem var(--primary-peach);
                & > h3, & > p {
                    color: var(--primary-white); 
                    animation-name: slideLEFT;
                    animation-duration: .6s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    
                }
            }

            &-HEADLINE {
                font-size: 2rem;
                line-height: 2.6rem;
                font-weight: 500;
                letter-spacing: .5rem;
                text-transform: uppercase;
                color: var(--primary-peach); 
                transition: color .2s ease-in-out; 

            }
            &-DESCRIPTION {
                font-size: 1.6rem;
                line-height: 2.6rem;
                font-weight: 400;
                color: var(--primary-black); 
                transition: color .2s ease-in-out; 
            }
        }
    }
}

.non-index-cardLinks {
    max-width: 111.1rem;
    height: 30.8rem;
    margin: 0 auto 16rem auto; 

    display: grid; 
    grid-template-rows: 100fr;
    grid-template-columns: 50fr 50fr; 
    column-gap: 3rem;  

    @media screen and (max-width: 950px){
        grid-template-columns: 100fr;
        grid-template-rows: 50fr 50fr;
        row-gap: 2.4rem;
        height: 42.4rem; 
    }

    @media screen and (max-width: 650px) {
        height: 52.4rem; 
    }
}

.cardLinks__card {
    &-APP-DESIGN-NON-INDEX {
        height: 100%; 
        background-image: url(../assets/home/desktop/image-app-design.jpg); 
        @media screen and (max-width: 950px) {
            background-image: url(../assets/home/tablet/image-app-design.jpg); 
        }
        @media screen and (max-width: 650px) {
            background-image: url(../assets/home/mobile/image-app-design.jpg); 
        }
    }
    &-GRAPHIC-DESIGN-NON-INDEX {
        height: 100%; 
        background-image: url(../assets/home/desktop/image-graphic-design.jpg); 
        @media screen and (max-width: 950px) {
            background-image: url(../assets/home/tablet/image-graphic-design.jpg); 
        }
        @media screen and (max-width: 650px) {
            background-image: url(../assets/home/mobile/image-graphic-design.jpg); 
        }
    }
    &-WEB-DESIGN-NON-INDEX {
        height: 100%; 
        background-image: url(../assets/home/desktop/image-web-design-small.jpg); 
        @media screen and (max-width: 950px) {
            background-image: url(../assets/home/tablet/image-web-design.jpg); 
        }
        @media screen and (max-width: 650px) {
            background-image: url(../assets/home/mobile/image-web-design.jpg); 
        }
    }
}

@keyframes slideLEFT {
    0% {
        opacity: 1; 
        transform: translateX(0rem); 
    }
    20% {
        opacity: 0; 
        transform: translateX(-50rem); 
    }
    25% {
        opacity:0;
        transform: translateX(50rem); 
    }
    100% {
        opacity: 1; 
        transform: translateX(0); 
    }
}