<div class="header">
    <div class="header__content">
        <div class="header__content-left">

            <a href="/"><img src="assets/shared/desktop/logo-dark.png" class="header__content-left-LOGO INDEX" alt="designo logo"></a>

        </div>

        <div class="header__content-right">
            <a href="/about" class="header__content-right-selection ABOUT">Our Company</a>
            <a href="/locations" class="header__content-right-selection LOCATIONS">Locations</a>
            <a href="/contact" class="header__content-right-selection CONTACT">Contact</a>

            <div class="header__content-right-mobile">
                <div class="header__content-right-mobile-BURGER" id="BURGER">
                    <span class="header__content-right-mobile-PATTY"></span>
                    <span class="header__content-right-mobile-PATTY"></span>
                    <span class="header__content-right-mobile-PATTY"></span>
                </div>
            </div>

        </div>

    </div>

    <div class="header__content-mobile-NAV" id="MOBILE-NAV">
        <a href="/about" class="header__content-mobile-NAV-selection ABOUT">Our Company</a>
        <a href="/locations" class="header__content-mobile-NAV-selection LOCATIONS">Locations</a>
        <a href="/contact" class="header__content-mobile-NAV-selection CONTACT">Contact</a>
    </div>

    <div class="header__content-mobile-NAV-GREYOUT"></div>

</div>